<!DOCTYPE html>
<html>
	<meta charset="UTF-8">
	<title>Map Gallery</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	
	<body class="window" name="Map Gallery">
		<div class="custom titlebar">
			<div class="icon steamico"></div>
			<div class="title">Map Gallery</div>
			<div class="icon button minimize"></div>
			<div class="icon button close"></div>
		</div>

		<h1>Gunman Chronicles</h1>
		<!-- All of the Node.js APIs are available in this renderer process. -->
		<p>Development build. We're using Node.js <script>document.write(process.versions.node)</script>,
		Chromium <script>document.write(process.versions.chrome)</script>,
		and Electron <script>document.write(process.versions.electron)</script>.</p>

		<div class="gallery">
			<div class="item" name="mayan1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				
			</div>
			<div class="item" name="mayan2a">
				<img src="img/mayan2a.jpg">
				Ipsum dolor lorem amet sit, adipiscing elit ceonsectetur.
			</div>
		</div>

		<script src="renderer.js"></script>
	</body>
	

</html>
