@light-primary: #4c5844;
@lighter-primary: #5a6a50;
@dark-primary: #3e4637;
@shadelight: #899281;
@shadedark: #292d23;

@secondary: #c4b550;
@darksecondary: #96892D;

@window-width: 780px;
@window-half: 380px;

@url-base: "";

@url-steamico: url("@{url-base}steamico.png");

@url-resize: url("@{url-base}resize.png");

@url-minimize: url("@{url-base}minimize.png");
@url-minimize2: url("@{url-base}minimize2.png");
@url-close: url("@{url-base}close.png");
@url-close2: url("@{url-base}close2.png");

@url-scroll-up: url("@{url-base}scroll_up.png");
@url-scroll-down: url("@{url-base}scroll_down.png");

@url-scroll-left: url("@{url-base}scroll_left.png");
@url-scroll-right: url("@{url-base}scroll_right.png");

/*** General ***/
/* #region */

body {
	background-color: @dark-primary;
	font-family: "Trebuchet MS";
	color: #d8ded3;
	font-size: 14px;

	image-rendering: pixelated;

	margin: 20px 20px;
}

h1, h2 {
	color: @secondary;
	margin: 12px 12px 12px 12px;
}

h1 {font-size: 18px;}
h2 {font-size: 16px;}

p {
	font-family: "Verdana";
	text-align: left;
	margin: 12px 12px 12px;
	color: #d8ded3;
}

button {
	color: white;
	background-color: @light-primary;
	height: 25px;
	min-width: 75px;

	cursor: pointer;
	.border();
	font-family: Arial;

	&:active {
		.border-inverted();
		background-color: @dark-primary;
	}

	letter-spacing: 1px;
	font-weight: lighter;

	text-transform: uppercase;
	-webkit-font-smoothing: none;

	&:focus {
		outline: none;
	}
}

code {
	background: @dark-primary;
	padding: 0 3px;
}

hr {
	margin: 20px 0;
    border: none;
	height: 1px;
	width: 100%;
	background-color: @dark-primary;
}

img {
	object-fit: contain;
	margin: 2px;
}

nav {
	.border();
	padding: 0;
	list-style: none;
	background: @light-primary;

	margin-bottom: 20px;

	li {
		display: inline-block;
		position: relative;
		line-height: 21px;
		text-align: left;

		cursor: pointer;

		a {
			display: block;
			padding: 8px 25px;
			color: @secondary;
			text-decoration: none;
			&:hover {
				color: #E3E41F;
				background: @lighter-primary;
			}
		}

		&:hover {ul.dropdown {display: block;}}
		ul.dropdown {
			display: none;
			list-style: none;

			.border();
			border-top: none;

			padding: 0;
			min-width: 150px;
			background: @light-primary;

			position: absolute;
			top: 23px;
			z-index: 1;
			li {
				display: block;
			}
		}

	}
}

/* #endregion */

/*** Borders ***/

.border {
	border-top: solid 1px @shadelight;
    border-bottom: solid 1px @shadedark;
    border-left: solid 1px @shadelight;
    border-right: solid 1px @shadedark;
}

.border-inverted {
	border-top: solid 1px @shadedark;
	border-bottom: solid 1px @shadelight;
	border-left: solid 1px @shadedark;
	border-right: solid 1px @shadelight;
}

@import "include/flex.less";


@import "include/progress_bar.less";


@import "include/window.less";


@import "include/transcript.less";


/*.inline-image {
	border: solid 2px #7b8484;
}*/

@import "include/scrollbar.less";
